body {
    box-sizing: border-box;
    background-color: rgb(134, 51, 145);
    color: white;
}

.cabecalho {
    padding: 2% 0% 0% 5%;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
}

.cabecalho_link {
    color: white;
    text-decoration: none;
}